@media screen and (min-width: 700px) {
	header {
		grid-template-columns: 44px 1fr 1fr 44px;
		padding: 16px;
	}

	#nav-btn {
		display: none;
	}

	#nav-bar {
		display: flex;
		width: fit-content;
		grid-column: 3/4;
		grid-row: 1/2;
		justify-self: end;
	}
	#nav-bar.show {
		flex-direction: row;
		grid-column: 3/4;
	}
	#nav-bar a {
		border: none;
		height: 20px;
		padding: 22px 8px 2px;
	}

	main {
		padding: 16px;
	}

	footer {
		padding: 16px;
		gap: 16px;
		flex-direction: row;
		justify-content: space-evenly;
	}

	#socials a {
		height: 44px;
	}
}