main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 8px;
}

#display-options {
	justify-self: end;
	background-color: var(--near-grey);
	color: var(--far-grey);
	height: fit-content;
	width: fit-content;
	border-radius: 16px;
	display: flex;
	overflow: hidden;
	margin: 12px 0;
}
#display-options button {
	appearance: unset;
	background-color: unset;
	border: none;
	display: block;
	padding: 4px;
	color: inherit;
	cursor: pointer;
}
#display-options button.active {
	background-color: var(--secondary-background);
	color: var(--secondary-text);
}
button#display-list {
	padding-left: 8px;
}
button#display-grid {
	padding-right: 8px;
}

/*
The CSS in this region has lots of classes and ids in it and is hard to read because the validator
throws as errors anywhere where the CSS uses nested elements, despite them being used in the example
for how to write the switcher between grid and list layout. As such, many separate references of `#cards.grid`,
`#cards.list`, and `.card` are needed to specify the variable behavior.
*/

#cards {
	grid-column: 1/3;
}

#cards .card.placeholder div {
	overflow-wrap: break-word;
}

#cards.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	gap: 16px;
}
#cards.grid .card {
	border: solid 1px var(--white-sand);
	box-shadow: 0 4px 12px rgba(0,0,0,0.75);
	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;
	padding: 8px;
}
#cards.grid .card img, #cards.grid .card svg {
	width: 100%;
	height: auto;
	margin-bottom: 8px;
}

#cards.grid .card .description {
	margin-bottom: 16px;
}

#cards.grid .card .name {
	display: none;
}

#cards.grid .card div {
	text-align: center;
	margin-bottom: 8px;
}

#cards.grid .card a {
	overflow-wrap: break-word;
}

#cards.list {
	display: flex;
	flex-direction: column;
}

#cards.list .card {
	padding: 6px 0;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	row-gap: 8px;
}

#cards.list .card img, #cards.list .card svg, #cards.list .card .description {
	display: none;
}

#cards.list .card .name {
	grid-column: 1/4;
}

#cards.list .card div {
	padding: 4px 8px;
}

#cards.list .card a {
	overflow-wrap: break-word;
}

#cards.list .card:nth-child(even) {
	background-color: var(--near-grey);
}

@media screen and (min-width: 700px) {
	#cards.list .card {
		grid-template-columns: 25% 28% 15% 32%;
	}

	#cards.list .card .name {
		grid-column: 1/2;
	}
}